
/* Change the logo on the New Tab pages */
@-moz-document url(about:newtab), url(about:home) { 
  .logo-and-wordmark-wrapper,
  .logo-and-wordmark {
    margin-top: -5% !important;
  }
  .logo {
    background-size: 92px !important;
    height: 92px !important;
    width: 92px !important;
    background-image: url("icons/firefox.png") !important;
  }
  .wordmark {
    background: url("icons/firefox-wordmark.svg") no-repeat center center !important;
    background-size: 172px !important;
    height: 90px !important;
    width: 174px !important;
    margin-inline-start: 25px !important;
  }  
  :root {
    --border-radius-circle: 5px !important;
  }
  .nova-enabled .search-inner-wrapper {
    min-width: 58vw;
  }  
  .button-background {
    &.labelled {
      background: #7B9DEA !important;
      /*
      background:  transparent !important;
      border-color: black !important;
      color: black !important;
      */
  }
}  

}
/* Change Icon and Wordmark on Private Window Home Page */
@-moz-document url(about:privatebrowsing){
  body {
    background-color: #4E268E;
  }  
  .logo-and-wordmark-wrapper,
  .logo-and-wordmark {
    margin-top: -24% !important;
  }
  .logo {
    background-size: 92px !important;
    background-image: url("icons/firefox.png") !important;
  }
  .wordmark {
    background-size: 174px !important;
    background-image: url("icons/private-text.png") !important;
  }
  :root {
    --border-radius-circle: 5px !important;
  }  
  .info-border, info {
    display: none;
  }
  content-search-handoff-ui {
  --content-search-handoff-ui-background-color: white !important;
  --content-search-handoff-ui-color: black !important;
  --content-search-handoff-ui-fill: black !important;
  }  
}

/* Change icon on about:config page */
@-moz-document url(about:config) {
  .config-background {
    background: url("icons/dragon.png") no-repeat !important;
  }
}

/* Change icon on Settings page */
@-moz-document url(about:preferences) {
  .page-nav-heading-wrapper {
    & > .logo {
      height: 38px !important;
      width: 38px !important;
      background: url("icons/firefox.png") no-repeat center !important;
      background-size: 36px !important;    
    }
  }
}


/*.personalizeButtonWrapper {display: none !important;}*/


