/* Change the logo on the New Tab pages */
@-moz-document url(about:newtab), url(about:home) { 
  .logo-and-wordmark {
    margin-top: -10% !important;
  }
  .logo {
    background-size: 92px !important;
    height: 92px !important;
    width: 92px !important;
    background-image: url("icons/firefox.png") !important;
  }
  .wordmark {
    background: url("icons/firefox-wordmark.svg") no-repeat center center !important;
    background-size: 172px !important;
    height: 90px !important;
    width: 174px !important;
    margin-inline-start: 25px !important;
  }  
  :root {
    --border-radius-circle: 5px !important;
  }
  .nova-enabled .search-inner-wrapper {
    min-width: 58vw;
  }  
}
  
/* Change Icon and Wordmark on Private Window Home Page */
@-moz-document url(about:privatebrowsing){
  body {
    background-color: #4E268E;
  }  
  .logo-and-wordmark {
    margin-top: -25% !important;
  }
  .logo {
    background-size: 92px !important;
    background-image: url("icons/firefox.png") !important;
  }
  .wordmark {
    background-size: 174px !important;
    background-image: url("icons/private-text.png") !important;
  }
  :root {
    --border-radius-circle: 5px !important;
  }  
  .info-border, info {
    display: none;
  }
}

/* Change icon on about:config page */
@-moz-document url(about:config){
  .config-background {
    background: url("icons/dragon.png") no-repeat !important;
  }
}


/*.personalizeButtonWrapper {display: none !important;}*/
